@use "../../styles/responsive" as *;

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.star {
  position: absolute;
  -webkit-mask: url("/icon/star.svg") no-repeat center / contain;
  mask: url("/icon/star.svg") no-repeat center / contain;
}

@include respond(md) {
  .stars {
    height: 100%;
  }
}
