:root {
  --primary-0: #ffffff;
  --primary-50: #f5faff;
  --primary-100: #e8f3ff;
  --primary-200: #cfe7ff;
  --primary-300: #a9d3ff;
  --primary-400: #73b7ff;
  --primary-500: #359aff;
  --primary-600: #1f86f2;
  --primary-700: #0f6dd0;
  --primary-800: #0a54a1;
  --primary-900: #06386d;
  --primary-1000: #021b38;

  --black-0: #ffffff;
  --black-50: #f8f9fa;
  --black-100: #eef0f1;
  --black-200: #d9dcde;
  --black-300: #b7bcc0;
  --black-400: #8e9499;
  --black-500: #646b70;
  --black-600: #464b4f;
  --black-700: #2e3133;
  --black-800: #1f2123;
  --black-900: #121314;
  --black-1000: #000000;

  --p-0: var(--primary-0);
  --p-50: var(--primary-50);
  --p-100: var(--primary-100);
  --p-200: var(--primary-200);
  --p-300: var(--primary-300);
  --p-400: var(--primary-400);
  --p-500: var(--primary-500);
  --p-600: var(--primary-600);
  --p-700: var(--primary-700);
  --p-800: var(--primary-800);
  --p-900: var(--primary-900);
  --p-1000: var(--primary-1000);

  --b-0: var(--black-0);
  --b-50: var(--black-50);
  --b-100: var(--black-100);
  --b-200: var(--black-200);
  --b-300: var(--black-300);
  --b-400: var(--black-400);
  --b-500: var(--black-500);
  --b-600: var(--black-600);
  --b-700: var(--black-700);
  --b-800: var(--black-800);
  --b-900: var(--black-900);
  --b-1000: var(--black-1000);
}