.standingZone {
  fill: #C81E31;
  stroke: #FF5268;

  &:hover {
    fill: #800C19;
  }

  &.selected {
    fill: #868e96 !important;
    stroke: #495057 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}

.ZoneC,.ZoneD {
  fill: #7CD227;
  stroke: #A9FA54;

  &:hover {
    fill: #A9FA54;
  }

  &.selected {
    fill: #868e96 !important;
    stroke: #495057 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}


.ring1F {
  fill: #7CD227;

  &:hover {
    fill: #A9FA54;
  }

  &.selected {
    fill: #868e96 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}

.ring2F {
  fill: #7CD227;

  &:hover {
    fill: #7CD227;
  }

  &.selected {
    fill: #868e96 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}