.standingZone {
  fill: #ff6b81;
  stroke: #e8556b;

  &:hover {
    fill: #ff8a9a;
  }

  &.selected {
    fill: #868e96 !important;
    stroke: #495057 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}

.ring1F {
  fill: #20c997;

  &:hover {
    fill: #38d9a9;
  }

  &.selected {
    fill: #868e96 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}

.ring2F {
  fill: #fd7e14;

  &:hover {
    fill: #ffa94d;
  }

  &.selected {
    fill: #868e96 !important;

    &:hover {
      fill: #868e96 !important;
    }
  }
}